html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #000000; /* Dark background */
  color: #1aebff; /* Neon text */
}

a {
  color: #1aebff;
}

a:hover {
  color: #ffffff; 
}

.btn {
  background-color: #1aebff; /* Neon buttons */
  color: #000000; /* Dark text on buttons */
}

.btn:hover {
  background-color: #ffffff; /* White buttons on hover */
  color: #000000; /* Dark text on hover */
}